
.newAdvertPage {
  display: flex;
  padding: 2rem 2rem 0 2rem;
  width: 100%;
  justify-content: center;
  }
  
  
  .newAdvertPage-footer {
    align-items: center;
    display: flex;
  }
  
  .newAdvertPage-characters {
    color: rgb(29, 161, 242);
  }
  
  .newAdvertPage-submit {
    margin-left: auto;
  }
  
